@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700&family=Public+Sans:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,500;1,100;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}
li {
  list-style: none;
}
/* For WebKit browsers (e.g. Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 10px;
}

/* For Firefox */
/* scrollbar-color: pink #f1f1f1; */

.container {
  @apply w-[95%] lg:w-[90%] m-auto;
}
.transistionMode {
  @apply transition duration-500 ease-in delay-200;
}
.icons {
  @apply w-6 h-6 mr-2;
}
.mainText {
  @apply text-2xl capitalize text-[#151875] mb-5 font-bold;
}

/* text editor */
.text-editor {
}
.quill.text-editors {
  border-radius: 50%;
}
.ql-container.ql-snow {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.text-editors .ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 50vh !important;
  @apply shadow-none;
}
.text-editors {
  height: 50vh !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.ql-container {
  height: 50vh !important;
}
.ql-toolbar.ql-snow {
  border-radius: 50px;
  /* display:flex; */
  justify-content: space-between;
  align-items: center;
}

/* text font family*/
.MuiTypography-root {
  font-family: inherit !important;
}

/* table */
.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-column:focus,
.MuiDataGrid-column:focus-within {
  outline: none;
  box-shadow: none !important;
  border-color: transparent !important;
}
.MuiDataGrid-root .MuiDataGrid-column:focus-within {
  outline: none !important;
}

.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor {
  color: #333;
  text-transform: capitalize;
}
.MuiTablePagination-root.css-rtrcn9-MuiTablePagination-root {
  color: #333;
  text-transform: capitalize;
}
.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--alignLeft.MuiDataGrid-columnHeader--sortable.MuiDataGrid-columnHeader--sorted.MuiDataGrid-columnHeader--numeric.MuiDataGrid-withBorderColor {
  outline: none !important;
  border: none !important;
}
.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable.MuiDataGrid-withBorderColor {
  outline: none !important;
}
.MuiDataGrid-root.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root.MuiDataGrid-cell:focus {
  outline: none;
}
.MuiDataGrid-root.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-root.MuiDataGrid-cell:focus-within {
  outline: none;
}
.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-row {
  border-bottom: none !important;
}
.MuiDataGrid-cell {
  border-bottom: none !important;
  /* text-transform: capitalize; */
}

.MuiOutlinedInput-root.MuiTextField-root.no-border
  .MuiOutlinedInput-notchedOutline {
  border: none;
}

/* select */
/* select */

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
  box-shadow: none;
}

.MuiSelect-select.MuiSelect-select.MuiSelect-select {
  padding: 10px;
} */

.MuiMenu-paper {
  margin-top: 8px !important;
}
.MuiSelect-icon {
  /* right: 20px !important; */
}
/* .MuiOutlinedInput-notchedOutline {
  border: none !important;
  outline: none !important;
  border: none !important;
}
.MuiSelect-root {
  outline: none !important;
  border: none !important;
  outline: none !important;
}
.MuiSelect-root:focus {
  outline: none !important;
  border: none !important;
} */

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none !important;
  outline: none !important;
} */

/* .MuiSelect-icon.MuiSelect-iconOutlined.css-3qbkez-MuiSelect-icon {
  right: 20px !important;
  border-color: transparent !important;
}

.MuiSelect-icon.MuiSelect-iconOutlined.css-3qbkez-MuiSelect-icon:focus {
  right: 20px !important;
  border-color: transparent !important;
} */
/* 
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  outline: none !important;
} */
/* .MuiSelect-select.MuiSelect-select.MuiSelect-select {
  position: absolute;
} */
/* Apply styles to the custom-select ID */

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.MuiSelect-select {
  padding: 10px !important;
} */

/* termor select */

.tremor-SelectBox-root {
  @apply w-full ring-0 focus:ring-0 rounded-2xl;
}

/* .tremor-SelectBox-root * {
  background: red !important;
}

.tremor-SelectBox-root:focus {
  background: red !important;

}
.tremor-SelectBox-root:hover {
  background: red !important;

}
.tremor-SelectBox-root input {
  @apply bg-green-200;
}
.tremor-SelectBox-root svg {
  @apply bg-green-200;
}
.tremor-SelectBox-input button {
  @apply bg-green-200;
} */
/* class="tremor-SelectBox-root flex w-full items-center overflow-hidden cursor-text focus:outline-none focus:ring-2 bg-white hover:bg-gray-50 text-gray-500 border-gray-300 ring-2 ring-blue-300 focus:ring-blue-200 rounded-md border shadow-sm */
